# Marmiton
http://www.marmiton.org/

### import _pandas_

Pandas includes numpy as `np`, and it's convenient to have this available directly:

### Import the dataframes, read them into a Panda's DataFrames and assign them to df1 and df2

### Have a look at the first 5 rows of df1 using the head method

### Have a look at the last 3 rows of df2 using the tail method

### Have a look at the size of the datasets
**The first number is the number of row, the second one the number of columns**

**What is the number of observations in df2?**

**What is the number of columns in the dataset?**

### Get the names of the columns and info about them (number of non null and type)

**We can also get a list of the columns names:**

### Concatenate data frames

### Force pandas to display less lines

___
## _Subsetting_
We can subset a dataframe by label, by index or a combination of both.  
There are different ways to do it, using .loc, .iloc and also [ ]. See documentation:  
https://pandas.pydata.org/pandas-docs/stable/indexing.html

**Let's have a look at the 'total_time' column:**

**Then at the 12th observation:**

**At the 'name' of the last three observations:**

**Concatenate (again) df1 and df2**

**And finally look at the 'quantity' and 'type' of the 45th, the 8th and the 1rst observations:**

**!!WARNING!!**  Unlike Python and ``.iloc``, the end value in a range specified by ``.loc`` **includes** the last index specified.**

___
## Let's clean here and there

**cost column**

**level column**

**quantity column**

**total_time column**

**ingredients column**

Create a new column with the number of ingredients.

Create a new column with the lenght of the ingredients list.

### Reordering columns
The order of the columns of this dataframe is probably not the best. We can reindex them using a list.

### NaN

**Find the number of observations with NaN in the oignon column.**

**Find the indexes of the observation without oignons.**

**Use the fillna() method to replace the nan values for the oignon.**

**Display the observation with oignons.**

### Duplicates

___
## _Some stats_

**Use the describe method to see how the data is distributed (numerical features only!)**

We can convert other columns to integer:

We can also use the functions count(), mean(), sum(), median(), std(), min() and max() separately if we are only interested in one of those.

**Calculate the max of the duration.**

### Plotting  
**Plot the duration of the talks.**

**Draw a boxplot of the duration of the talks.**

### Correlation between the numerical features

### Correlation between views and comments

### saving the dataframe as csv